.mainBackground {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
  flex-direction: column;
}

.textHeader {
  margin: 5px;
}

.text {
  padding: 5px;
}

.mainTextCover {
  position: relative;
  top: 25%;
  left: 10%;
  width: 30%;
}

.mainText {
  font-family: "Average", serif;
  color: white;
  text-shadow: 3px 3px black;
}

.sceneBackground {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
}

.node {
  cursor: pointer;
}

.imgBackground {
  background-image: url("./../../../assets/cover_new.jpeg");
  background-size: cover;
  background-color: lightgrey;
  background-blend-mode: multiply;
  flex: 1;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  min-height: 300px;
}

@media only screen and (max-device-width: 640px) {
  .sceneBackground {
    flex-direction: column;
  }
}
