.mainBackground {
  composes: flex1 from "../../../../app.module.css";
  composes: dFlex from "../../../../app.module.css";
  flex-direction: column;
}

.textHeader {
  font-family: "Average", serif;
  margin: 5px;
}
