.mainBackground {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
  background-image: url("./../../../assets/hobbies.jpg");
  background-size: cover;
  background-color: lightslategray;
  background-blend-mode: multiply;
  overflow: auto;
}

.textHeader {
  font-family: "Average", serif;
  margin: 5px;
}

.picContent {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
  flex-direction: column;
}

.textContent {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
  flex-direction: column;
  padding: 50px;
  margin: auto;
}


.textHeader {
  font-family: "Average", serif;
  margin-bottom: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px black;
  color: ghostwhite;
}

.textBody {
  font-family: "Average", serif;
  margin: 20px 5px 20px 5px;
  font-size: 20px;
  text-shadow: 2px 2px black;
  color: whitesmoke;
}

.picsContainer {
  composes: flex1 from "./../../../app.module.css";
  composes: dFlex from "./../../../app.module.css";
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.card {
  background-color: white;
  margin: 5px;
  padding: 10px;
  padding-bottom: 40px;
  height: 200px;
  width: 200px;
  max-width: 345px;
  composes: dFlex from "./../../../app.module.css";
}

.media {
  composes: flex1 from "./../../../app.module.css";
}
